/* Disables the ugly frame arroung <iframe>'s */
iframe {
   border-width: 0px;
}

#topnavbar {
    background-color: #e3f2fd;
}

.navbar {
    transition: top 0.5s ease;
}
.navbar-hide {
    top: -100px;
}
